/* Register our custom font family and tell the browser where to find it. */
@font-face {
  font-family: 'Fragment sans';
  src: url('/fonts/ppfragment-sansregular-webfont.woff') format('woff'),
       url('/fonts/ppfragment-sansregular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fragment glare';
  src: url('/fonts/ppfragment-glareregular-webfont.woff') format('woff'),
       url('/fonts/ppfragment-glareregular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.project {
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  flex-direction: row;
}

/* .project .cover {
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  flex-basis: 0%;
}

.project:hover .cover{
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  flex-basis: 180px;
  margin-right: 1rem;
} */