---
import Layout from '../layouts/Layout.astro';
import HeaderLink from '../components/HeaderLink.astro';
import ProjecstList from '../components/ProjectsList.astro'
---

<Layout title="Théo Paolo Goedert" description="Théo Goedert fait des choses en web et code avec un passion pour l'art et la tech.">

  <header class="grid grid h-screen">
    <h1 class="text-fluidbase font-serif mb-4">Bonjour, moi c’est Théo, développeur et designer web.</h1>
    <section class="flex flex-col justify-end">
      <p class="text-lg">Dans l'union code et design j'entretiens une dynamique de compétences techniques, formelles et conceptuelles qui alimentent mes collaborations professionnelles.</p>
      <p class="text-lg">J'aime donner forme aux envies ou besoins  d'indépendants, artistes, PME, associations et institutions.</p>
    </section>
  </header>

  <main>
    <section  class="mb-8">
      <nav class="flex gap-8">
        <HeaderLink href="/blog" class="text-fluidbase">Journal</HeaderLink>
      </nav>
    </section>

    <section>
      <h2 class="mb-8 text-fluidbase font-serif">Sélection de projets</h2>
      <ProjecstList>
    </section>
  </main>

    <footer class="grid grid-cols-1 gap-0 sm:grid-cols-2 sm:gap-4 lg:grid-cols-4 border-t border-black pt-8 mt-24">
      <article class="w-full mb-4">
        <p class="text-xl font-serif">Expertises</p>
        <ul>
          <li>Direction artistique de projets web</li>
          <li>Développement et design web créatif</li>
          <li>Eco-conception de site web</li>
        </ul>
      </article>
      <article class="w-full mb-4">
        <p class="text-xl font-serif">Stack</p>
        <ul>
          <li>JS frameworks : Vue.js, Nuxt, Alpine.js</li>
          <li>Creative tools : Three.js, Webgl, P5js</li>
          <li>Static site generators : 11ty, Astro</li>
          <li>CMS's : Kirby, Strapi, Prismic, Netlify cms</li>
        </ul>
      </article>
      <article class="w-full mb-4">
        <p class="text-xl font-serif">Intérêts</p>
        <p>Design spéculatif et science-fiction, l'Art numérique, DJ’ing en live et sur radiozai.com, photographie
        </p>
      </article>
      <article class="w-full">
        <p class="text-xl font-serif">Me contacter</p>
        <a href="https://twitter.com/theo_goedert" target="_blank">Twitter</a>
        <a href="https://www.instagram.com/theogoedert/" target="_blank">Instagram</a>
        <p class="text-base mt-4">Actuellement disponible pour des missions pédagogiques et professionelles</p>
      </article>
    </footer>

    <script>
      import { animate, stagger, inView} from "motion"

      const animeProp = {
        opacity: 1,
        transform: ['translateY(64px)', 'translateY(0px)']
      }
      const animeOptions = {
        duration: 3,
        easing: [0.165, 0.84, 0.44, 1],
        delay: stagger(0.2),
      }
      function animeHeaderP(){
        animate(
          'header section p',
          animeProp,
          animeOptions
        )
      }
      setTimeout(animeHeaderP
        ,500)
      animate(
        'header h1',
        animeProp,
        {
          duration: 1,
          easing: [0.165, 0.84, 0.44, 1],
          delay: .2,
        }
      )

      inView('main', ({ target }) => {
        animate(
        target.querySelectorAll("ul .card-container"),
          {
            opacity: 1,
          },
          {
            delay: stagger(0.2),
            duration: 1,
            easing: [.445, .05, .55, .95]
          }
        )
      })

      inView('footer', ({ target }) => {
        animate(
        target.querySelectorAll("footer article"),
          {
            opacity: 1,
          },
          {
            delay: stagger(0.2),
            duration: 1,
            easing: [.445, .05, .55, .95]
          }
        )
      })
    </script>
</Layout>