---
import Layout from '../layouts/Layout.astro';
import Project from '../components/Project.astro';
import gsImg from '../images/green-shoots.png';
import wppImg from '../images/worldpressphoto2021.png';
import nhImg from '../images/nicolasherman.png';
import skpImg from '../images/saffronkitchenproject.png';
---

<Layout title="Théo Paolo Goedert">

  <header class="max-w-screen-lg container mx-auto mb-12 md:mb-44 mt-12 md:mt-32">
    <h1 class="text-dynamicxl mb-12 md:mb-32 font-serif">Bonjour, moi c’est Théo, développeur et designer web.</h1>
    <p class="text-2xl md:text-dynamic mb-6">Dans l'union code et design j'entretiens une dynamique de compétences techniques, formelles et conceptuelles qui alimentent mes collaborations professionnelles.</p>
    <p class="text-2xl md:text-dynamic mb-12">J'aime donner forme aux envies ou besoins  d'indépendants, artistes, PME, associations et institutions.</p>
  </header>

  <main>
    <section  class="mb-16 md:mb-24 md:mb-44">
    <h2 class="mb-8 text-dynamicl font-serif">Projets récents</h2>
      <ul role="list" class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-4">
          <Project
            href="https://www.saffronkitchenproject.org/"
            title="2021 - Saffron Kitchen Project"
            body="Site web coloré pour une ONG qui propose des solutions afin d'aider des communautés vulnérables en Grèce"
            image={skpImg}
          />
          <Project
            href="https://worldpressphoto2021.org/"
            title="2021- WorldPressPhoto"
            body="Exposition en ligne pour le concours WorldPressPhoto 2019"
            image={wppImg}
          />
          <Project
            href="http://green-shoots.eu/"
            title="2022 - GreenShoots"
            body="Site web eco-conçu pour des initiatives environnementales soutenant la mise en œuvre du Green Deal européen"
            image= {gsImg}
          />
          <Project
            href="http://nicolashermann.com/"
            title="2022 - Nicola Hermann Portfolio"
            body="Expérience immersive en webgl pour le portfolio du photographe Nicolas Herman"
            image={nhImg}
          />
        </ul>
      </section>
      </main>

    <footer class="grid grid-cols-1 gap-0 sm:grid-cols-2 sm:gap-4 lg:grid-cols-4 border-t border-black pt-8">
      <section class="w-full mb-8">
        <p class="text-2xl font-serif">Expertises</p>
        <ul>
          <li>Direction artistique de projets web</li>
          <li>Développement et design web créatif</li>
          <li>Eco-conception de site web</li>
        </ul>
      </section>
      <section class="w-full mb-8">
        <p class="text-2xl font-serif">Stack</p>
        <ul>
          <li>JS frameworks : Vue.js, Nuxt, Alpine.js</li>
          <li>Creative tools : Three.js, Webgl, P5js</li>
          <li>Static site generators : 11ty, Astro</li>
          <li>CMS's : Kirby, Strapi, Prismic, Netlify cms</li>
        </ul>
      </section>
      <section class="w-full mb-8">
        <p class="text-2xl font-serif">Intérêts</p>
        <p>Design spéculatif et science-fiction, l'Art numérique, DJ’ing en live et sur radiozai.com, photographie
        </p>
      </section>
      <section class="w-full mb-8">
        <p class="text-2xl font-serif">Me contacter</p>
        <a href="https://twitter.com/theo_goedert" target="_blank">Twitter</a>
        <a href="https://www.instagram.com/theogoedert/" target="_blank">Instagram</a>
        <p class="text-base mt-4">Actuellement disponible pour des missions pédagogiques et professionelles</p>
      </section>
    </footer>

    <script>
      import { animate, stagger, inView} from "motion"

      const animeProp = {
        opacity: 1,
        transform: ['translateY(64px)', 'translateY(0px)']
      }
      const animeOptions = {
        duration: 3,
        easing: [0.165, 0.84, 0.44, 1],
        delay: stagger(0.2),
      }
      function animeHeaderP(){
        animate(
          'header p',
          animeProp,
          animeOptions
        )
      }
      setTimeout(animeHeaderP
        ,500)
      animate(
        'header h1',
        animeProp,
        {
          duration: 1,
          easing: [0.165, 0.84, 0.44, 1],
          delay: .2,
        }
      )

      inView('main', ({ target }) => {
        animate(
        target.querySelectorAll("ul .card-container"),
          {
            opacity: 1,
          },
          {
            delay: stagger(0.2),
            duration: 1,
            easing: [.445, .05, .55, .95]
          }
        )
      })

      inView('footer', ({ target }) => {
        animate(
        target.querySelectorAll("footer section"),
          {
            opacity: 1,
          },
          {
            delay: stagger(0.2),
            duration: 1,
            easing: [.445, .05, .55, .95]
          }
        )
      })
    </script>
</Layout>