---
import Layout from '../layouts/Layout.astro';
import Project from '../components/Project.astro';

---

<Layout title="Théo Paolo Goedert">
	<main>
		<h1 class="text-7xl mb-6">Bonjour, moi c’est Théo Paolo, fullstack designer.</h1>
		<div class="flex flex-col mb-6">
			<span class="text-2xl">50% Frontend développer</span>
			<span class="text-2xl">50% UI/UX designer</span>
		</div>

		<p class="mb-6 text-4xl">Dans l'union code et design j'entretiens une dynamique de compétences techniques, formelles et conceptuelles qui alimentent mes collaborations professionnelles.</p>
		<p class="mb-6 text-4xl">J'aime donner formes aux envies ou besoins  d'indépendants, artistes, PME, association et institutions.</p>

    <h2 class="mb-8 text-5xl">Project récents</h2>
		<section  class="mb-8">

			<ul role="list" class="flex flex-col border-t border-black">
				<Project
					href="http://green-shoots.eu/"
					title="2022 - GreenShoots"
					body="Online exhibition for 2019 photo contest"
				/>
				<Project
					href="https://worldpressphoto2021.org/"
					title="2021- WorldPressPhoto"
					body="Online exhibition for 2019 photo contest"
				/>
				<Project
					href="http://nicolashermann.com/"
					title="2022 - Nicola Hermann Portfolio"
					body="Inmersive expérience for a photographer portfolio"
				/>
				<Project
					href="https://www.saffronkitchenproject.org/"
					title="2021 - Saffron Kitchen Project colorfull website"
					body="Colorfull website for an NGO helping migrants in Grece"
				/>
			</ul>
		</section>

		<div>
			<p class="text-xl">Me contacter</p>
			<a href="https://twitter.com/theo_goedert" target="_blank">twitter</a>
			<a href="https://www.instagram.com/theogoedert/" target="_blank">instagram</a>
			<p class="text-base">Actuellement disponible pour des missions pédagogique et professionels.</p>
		</div>
	</main>
</Layout>
