---
import Layout from '../layouts/Layout.astro';
import Project from '../components/Project.astro';
import gsImg from '../images/green-shoots.png';
import wppImg from '../images/worldpressphoto2021.png';
import nhImg from '../images/nicolasherman.png';
import skpImg from '../images/saffronkitchenproject.png';

---

<Layout title="Théo Paolo Goedert">
	<main>
		<h1 class="text-dynamicxl mb-12 font-serif">Bonjour, moi c’est Théo Paolo, développeur et designer web.</h1>

		<p class="mb-6 text-dynamic">Dans l'union code et design j'entretiens une dynamique de compétences techniques, formelles et conceptuelles qui alimentent mes collaborations professionnelles.</p>
		<p class="mb-12 text-dynamic">J'aime donner formes aux envies ou besoins  d'indépendants, artistes, PME, association et institutions.</p>

    <h2 class="mb-8 text-dynamicl font-serif">Project récents</h2>
		<section  class="mb-8">

			<ul role="list" class="flex flex-col border-t border-black">
				<Project
					href="http://green-shoots.eu/"
					title="2022 - GreenShoots"
					body="Online exhibition for 2019 photo contest"
          image= {gsImg}
				/>
				<Project
					href="https://worldpressphoto2021.org/"
					title="2021- WorldPressPhoto"
					body="Online exhibition for 2019 photo contest"
          image={wppImg}
				/>
				<Project
					href="http://nicolashermann.com/"
					title="2022 - Nicola Hermann Portfolio"
					body="Inmersive expérience for a photographer portfolio"
          image={nhImg}
				/>
				<Project
					href="https://www.saffronkitchenproject.org/"
					title="2021 - Saffron Kitchen Project colorfull website"
					body="Colorfull website for an NGO helping migrants in Grece"
          image={skpImg}
				/>
			</ul>
		</section>

		<div>
			<p class="text-2xl font-serif">Me contacter</p>
			<a href="https://twitter.com/theo_goedert" target="_blank">twitter</a>
			<a href="https://www.instagram.com/theogoedert/" target="_blank">instagram</a>
			<p class="text-base">Actuellement disponible pour des missions pédagogique et professionels.</p>
		</div>
	</main>
</Layout>
