---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="col-span-full md:col-span-1 md:col-end-12">
	<nav class="flex gap-4">
		<HeaderLink href="/" class="text-fluidsm">Index</HeaderLink>
		<HeaderLink href="/blog" class="text-fluidsm">Journal</HeaderLink>
		<HeaderLink href="/about" class="text-fluidsm">About</HeaderLink>
	</nav>
</header>
